:root {
    --bg-color: #096a38;
    --text-color: #cee397;
    --light-color: #fbf9b8;
    --dark-color: #1f2d25;
    --section-bg: #4c834c;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--bg-color);
    color: white;
}

.page-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 64px;
    padding: 12px 32px 12px 32px;
    background-color: var(--dark-color);
}

h1 {
    min-width: fit-content;
    font-size: 48px;
    color: var(--light-color);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    gap: 48px;
}

.nav-list li a {
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    color: var(--text-color);
}

.title-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    flex: 1;
}

section {
    padding: 64px;
    background-color: var(--section-bg);
}

h2 {
    font-size: 32px;
    color:var(--light-color);
    margin: 0px;
}

h3 {
    font-style: oblique;
    color: var(--text-color);
}

footer {
    display: flex;
    align-items: center;
    height: 32px;
    padding-inline: 16px;
    border-top: 1px dashed #1f2d25;
    color: var(--dark-color);
}

h6 {
    font-size: 12px;
}